<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<div class="jumbotron jumbotron-fluid" style="position:relative; ">
    <img src="/jetty.jpg" class="panel-image-preview"style="position:absolute; top:0; bottom:0;" >
    <img src="/avatar.png" class="rounded-img" height="200px" width="200px" style="margin-bottom: -0px"    z-index: -1; position:relative;></img>
    <p class="lead"></p>
</div>



<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">    
          <img src="/avatar.png" class="panel-image-preview">
    
        </div>
      </div>
      <br>
    <div class="card">
        <div class="card-body">
           <p>Trends.</p>
        </div>
     </div>
    </div>
    <div class="col-6">
        <p>Questions.</p>
        <% for @p in @posts %>
      <div class="card">
        <div class="card-body">
           <p class="post-title"><span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %></a></span> <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span></p>
           <p class="post-content"><%= @p.content %></p>
        </div>
      </div>
        <% end  %>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
           <p>About.</p>
        </div>
      </div>
    </div>
  </div>
  
  <a href="#top">Back to top</a>
